In [1]:
import pandas as pd
df =pd.read_csv("iris.csv")

In [2]:
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [3]:
y = df.species

In [4]:
x = df.drop(columns=['species'])

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3,stratify=df.species,random_state=40)

In [7]:
xtrain.head()

     sepal_length  sepal_width  petal_length  petal_width
8             4.4          2.9           1.4          0.2
117           7.7          3.8           6.7          2.2
112           6.8          3.0           5.5          2.1
13            4.3          3.0           1.1          0.1
25            5.0          3.0           1.6          0.2

In [8]:
ytrain.value_counts()

setosa        35
versicolor    35
virginica     35
Name: species, dtype: int64

In [9]:
len(xtrain)

105

In [10]:
xtest.head()

     sepal_length  sepal_width  petal_length  petal_width
86            6.7          3.1           4.7          1.5
116           6.5          3.0           5.5          1.8
74            6.4          2.9           4.3          1.3
131           7.9          3.8           6.4          2.0
138           6.0          3.0           4.8          1.8

In [11]:
len(xtest)

45

In [12]:
ytrain.head()

8         setosa
117    virginica
112    virginica
13        setosa
25        setosa
Name: species, dtype: object

In [13]:
ytest.head()

86     versicolor
116     virginica
74     versicolor
131     virginica
138     virginica
Name: species, dtype: object

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model = LogisticRegression()

In [16]:
model.fit(xtrain,ytrain)

/Users/a0a00uj/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
print("Training accuracy",model.score(xtrain,ytrain))

Training accuracy 0.9523809523809523

In [18]:
print("Testing accuracy",model.score(xtest,ytest))

Testing accuracy 0.9777777777777777