1. Get your data
2. Clean your data
3. Handle mising values

4. identify the input
5. identify the output
6. Scale the inputs

7. choose the algorithm
8. train
9. check accuracy
10. predict

In [31]:
import pandas as pd

In [32]:
df  = pd.read_csv("mpg.csv")

In [33]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MPG          392 non-null    float64
 1   Cylinders    392 non-null    int64
 2   Engine Disp  392 non-null    float64
 3   Horsepower   392 non-null    int64
 4   Weight       392 non-null    int64
 5   Accelerate   392 non-null    float64
 6   Year         392 non-null    int64
 7   Origin       392 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 24.6+ KB

In [35]:
df.describe()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [36]:
y = df.MPG

In [37]:
x = df.drop(columns=['MPG','Origin'])

In [38]:
from sklearn.linear_model import SGDRegressor

In [39]:
model = SGDRegressor()

In [40]:
model.fit(x,y)  # this is where the training happens

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [41]:
model.score(x,y)

-2.381263869194298e+29

In [42]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()

In [43]:
xscaled = min_max.fit_transform(x)

In [44]:
x.head()

   Cylinders  Engine Disp  Horsepower  Weight  Accelerate  Year
0          8        390.0         190    3850         8.5    70
1          6        199.0          90    2648        15.0    70
2          6        199.0          97    2774        15.5    70
3          8        304.0         150    3433        12.0    70
4          8        455.0         225    3086        10.0    70

In [45]:
xscaled[0:3,:]

array([[1.        , 0.83204134, 0.7826087 , 0.63425007, 0.0297619 ,
        0.        ],
       [0.6       , 0.33850129, 0.23913043, 0.29345052, 0.41666667,
        0.        ],
       [0.6       , 0.33850129, 0.27717391, 0.32917494, 0.44642857,
        0.        ]])

In [46]:
model.fit(xscaled,y)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [47]:
model.score(xscaled,y)

0.7989120829880375

In [48]:
from sklearn.preprocessing import StandardScaler
std_slr=StandardScaler()

In [49]:
xscaled_std = std_slr.fit_transform(x)

In [50]:
xscaled_std

array([[ 1.48394702,  1.87146856,  2.22492429,  1.02840604, -2.55551732,
        -1.62531533],
       [ 0.30996673,  0.04390002, -0.37639497, -0.3885147 , -0.19646431,
        -1.62531533],
       [ 0.30996673,  0.04390002, -0.19430262, -0.23998557, -0.01499869,
        -1.62531533],
       ...,
       [-0.86401356, -0.7120053 , -0.42842136, -0.96377037, -0.37792992,
         1.63640964],
       [-0.86401356, -0.48236318, -0.22031581, -0.36847505, -0.59568866,
         1.63640964],
       [-0.86401356, -0.82682636, -0.89665882, -0.86357215,  0.49310504,
         1.63640964]])

In [51]:
model.fit(xscaled_std,y)
model.score(xscaled_std,y)

0.8051136665450509